<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.mybatis.mapper.MaterialMapper" >
  <resultMap id="BaseResultMap" type="com.mr.mybatis.model.Material" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MaterialListResultMap" type="com.mr.mybatis.dto.MaterialListResult">
    <result column="upload_time" property="date" />
    <collection property="articles" ofType="com.mr.mybatis.bo.Article" >
      <id property="contentId" column="mid" />
      <result property="title" column="name" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    mid, name, file_path, auido_path, uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from material
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from material
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mr.mybatis.model.Material" >
    insert into material (mid, name, file_path, 
      auido_path, uid)
    values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{auidoPath,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mr.mybatis.model.Material" >
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="auidoPath != null" >
        auido_path,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="auidoPath != null" >
        #{auidoPath,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mr.mybatis.model.Material" >
    update material
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="auidoPath != null" >
        auido_path = #{auidoPath,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mr.mybatis.model.Material" >
    update material
    set name = #{name,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      auido_path = #{auidoPath,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultMap="MaterialListResultMap" resultType="list">
    select mid, `name`, upload_time
    from material
    order by mid desc
  </select>
</mapper>